<html>
    <head>
        <title>
            Number Guesser v0.1.0
        </title>
    </head>

    <body>
    
<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

<% if(guess) %>
<span><%= guess %></span>
<p>
    Your guess is: <%= message %>
</p>

<p>
    The SECRET NUMBER is <%= number %>
</p>
<% end %>
    </body>
</html>