<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Event Attendees</title>
  </head>
  <body>
    <h3>Hello, <%= fname %> <%= lname %></h3>
    <p>
      Thank you for being a part of our conference!
    </p>

    <hr />

    <table>
      <th>
        Zipcode
      </th>
      <td><%= zipcode %></td>
    </table>
  </body>
</html>
